.crew-section {
  text-align: center;

  h1 {
    font-size: var(--fs-heading-4);
    font-family: var(--ff-secondary);
    letter-spacing: .2em;
    margin-bottom: 50px;
  }

  .tabs-container .content {
    .image-container {
      order: 1;
      border-bottom: 1px solid var(--clr-very-transparent-white);
      display: flex;
      justify-content: center;

      img {
        height: 250px;
        width: auto;
      }
    }

    .steps {
      display: flex;
      justify-content: center;
      gap: 10px;
      order: 2;

      .step {
        color: var(--clr-very-transparent-white);
        transition: var(--tr-primary);
        font-size: var(--fs-subheading-1);

        &:hover {
          color: var(--clr-transparent-white);
        }

        &.active {
          color: var(--clr-white);
        }
      }
    }

    .role {
      order: 3;
      font-family: var(--ff-secondary);
      letter-spacing: .2em;
      text-transform: uppercase;
      color: var(--clr-transparent-white);
      font-size: var(--fs-heading-4);
    }

    .name {
      order: 4;
    }

    .bio {
      order: 5;
      color: var(--clr-light-blue);
    }
  }
}

@media (min-width: 769px) {
  .crew-section {
    &.padding-bottom-medium {
      padding-bottom: 0;
    }

    .tabs-container .content {
      gap: 30px;

      .image-container {
        order: 5;
        border-bottom: unset;

        img {
          height: 500px;
        }
      }

      .bio {
        order: 3;
      }

      .steps {
        order: 4;
      }

      .role {
        order: 1;
      }

      .name {
        order: 2;
      }
    }
  }
}

@media (min-width: 1025px) {
  .crew-section {
    text-align: left;

    .tabs-container .content.active {
      display: grid;
    }

    .tabs-container .content {
      grid-template-areas:
        "b a"
        "c a"
        "d a"
        "e a"
        ". a";
      gap: 20px 100px;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: 1fr 1fr;

      .image-container {
        grid-area: a;
        align-self: end;
      }

      .role {
        grid-area: b;
        align-self: center;
      }

      .name {
        grid-area: c;
        align-self: center;
      }

      .bio {
        grid-area: d;
        align-self: center;
      }

      .steps {
        grid-area: e;
        align-self: center;
        justify-content: flex-start;
      }
    }
  }
}