.destination-section {
  text-align: center;

  h1 {
    font-size: var(--fs-heading-4);
    font-family: var(--ff-secondary);
    letter-spacing: .2em;
    margin-bottom: 50px;
  }

  .tabs-container .content {
    .image-container {
      order: 1;
      display: flex;
      justify-content: center;

      img {
        height: 250px;
        width: auto;
      }
    }
  }

  .steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    order: 2;
    font-size: var(--fs-heading-5);

    .step {
      color: var(--clr-transparent-white);
      font-family: var(--ff-secondary);
      text-transform: uppercase;
      letter-spacing: .2em;
      transition: var(--tr-primary);
      position: relative;
      padding: 10px 0;

      &:hover, &.active {
        color: var(--clr-white);
      }

      &:hover::after, &.active::after {
        width: 100%;
      }

      &::after {
        content: "";
        height: 1px;
        bottom: 0;
        left: 0;
        width: 0;
        position: absolute;
        background-color: var(--clr-white);
        transition: var(--tr-primary);
      }
    }
  }

  .name {
    order: 3;
  }

  .description {
    order: 4;
    color: var(--clr-light-blue);
  }

  .specs {
    order: 5;
    display: flex;
    justify-content: center;
    gap: 30px 50px;
    border-top: 1px solid var(--clr-transparent-white);
    padding: 30px;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-size: var(--fs-heading-5);
    letter-spacing: .2em;
    flex-direction: column;

    .label {
      color: var(--clr-transparent-white);
    }

    & p:last-child {
      font-family: var(--ff-tertiary);
      font-size: var(--fs-heading-4);
      margin-top: 10px;
      line-height: 1em;
    }
  }
}

@media (min-width: 1025px) {
  .destination-section {
    .specs {
      flex-direction: unset;
    }
  }
}

@media (min-width: 1025px) {
  .destination-section {
    text-align: left;

    .tabs-container .content.active {
      display: grid;
    }

    .tabs-container .content {
      grid-template-areas:
        "a b"
        "a c"
        "a d"
        "a e";
      gap: 20px 100px;
      grid-template-rows: auto auto auto 1fr;
      grid-template-columns: 400px 1fr;

      .image-container {
        grid-area: a;

        img {
          height: 400px;
        }
      }

      .steps {
        grid-area: b;
        justify-content: flex-start;
      }

      .name {
        grid-area: c;
      }

      .description {
        grid-area: d;
      }

      .specs {
        grid-area: e;
        justify-content: flex-start;
        padding: 30px 0;
      }
    }
  }
}