/*:root {
  --ff-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

:root {
  --ff-primary: 'Calibri', sans-serif;
  --ff-tertiary: 'Bellefair', 'Helvetica', 'Arial', sans-serif;
  --ff-secondary: 'Barlow Condensed', 'Helvetica', 'Arial', sans-serif;
  --fs-heading-1: 150px;
  --fs-heading-2: 100px;
  --fs-heading-3: 56px;
  --fs-heading-4: 32px;
  --fs-subheading-5: 28px;
  --fs-subheading-2: 14px;
  --fs-body: 16px;
  --clr-very-dark-blue: #0B0D17;
  --clr-very-dark-blue-transparent: rgb(11 13 23 / 90%);
  --clr-light-blue: #D0D6F9;
  --clr-white: #FFFFFF;
  --clr-very-transparent-white: rgba(255, 255, 255, 0.1);
  --clr-transparent-white: #D0D6F980;
  --img-background-image: url('../assets/home/background-home-desktop.jpg');
  --tr-primary: .6s cubic-bezier(.47, 1.64, .41, .8);
}

@media (max-width: 768px) {
  :root {
    --fs-heading-1: 100px;
    --fs-heading-2: 60px;
    --fs-heading-3: 42px;
    --fs-heading-4: 26px;
    --fs-subheading-5: 20px;
    --fs-subheading-2: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color .4s;
  background-color: var(--clr-very-dark-blue);
  font-size: var(--fs-body);
  color: var(--clr-white);
  font-family: var(--ff-primary);
  min-height: 100vh;
  background-size: cover;
  background-image: var(--img-background-image);
  overflow-x: hidden;
  padding-bottom: 100px;
}

a, input, button {
  text-decoration: none;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
}

a, button {
  color: var(--clr-white);
  //text-decoration: underline;
}

ul {
  list-style-type: none;
}

.number {
  color: var(--clr-transparent-white);
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
}

.wrapper-small {
  max-width: 900px;
}

img {
  max-width: 100%;
}

.padding-top-large {
  padding-top: 150px;
}

.padding-top-medium {
  padding-top: 100px;
}

.padding-top-small {
  padding-top: 20px;
}

.padding-bottom-large {
  padding-bottom: 120px;
}

.padding-bottom-medium {
  padding-bottom: 80px;
}

.padding-bottom-small {
  padding-bottom: 20px;
}