:root {
  --ff-primary: 'Calibri', sans-serif;
  --ff-tertiary: 'Bellefair', 'Helvetica', 'Arial', sans-serif;
  --ff-secondary: 'Barlow Condensed', 'Helvetica', 'Arial', sans-serif;
  --fs-heading-1: 100px;
  --fs-heading-2: 60px;
  --fs-heading-3: 42px;
  --fs-heading-4: 22px;
  --fs-subheading-1: 20px;
  --fs-subheading-2: 12px;
  --fs-body: 16px;
  --clr-very-dark-blue: #0B0D17;
  --clr-very-dark-blue-transparent: rgb(11 13 23 / 90%);
  --clr-light-blue: #D0D6F9;
  --clr-white: #FFFFFF;
  --clr-very-transparent-white: rgba(255, 255, 255, 0.05);
  --clr-transparent-white: #D0D6F980;
  --img-background-image: url('../assets/home/background-home-desktop.jpg');
  --tr-primary: .6s cubic-bezier(.47, 1.64, .41, .8);
}

@media (min-width: 769px) {
  :root {
    --fs-heading-1: 150px;
    --fs-heading-2: 60px;
    --fs-heading-3: 40px;
    --fs-heading-4: 25px;
    --fs-subheading-5: 20px;
    --fs-subheading-2: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color .4s;
  background-color: var(--clr-very-dark-blue);
  font-size: var(--fs-body);
  color: var(--clr-white);
  font-family: var(--ff-primary);
  min-height: 100vh;
  background-size: cover;
  background-image: var(--img-background-image);
  overflow-x: hidden;
  word-break: break-word;
}

a, input, button {
  text-decoration: none;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

p {
  line-height: 2em;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
}

a, button {
  color: var(--clr-white);
}

ul {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.number {
  color: var(--clr-transparent-white);
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
  grid: inherit;
}

.wrapper-small {
  max-width: 900px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.padding-top-large {
  padding-top: 120px;
}

.padding-top-medium {
  padding-top: 80px;
}

.padding-top-small {
  padding-top: 40px;
}

.padding-bottom-large {
  padding-bottom: 120px;
}

.padding-bottom-medium {
  padding-bottom: 80px;
}

.padding-bottom-small {
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .padding-top-large {
    padding-top: 150px;
  }

  .padding-top-medium {
    padding-top: 100px;
  }

  .padding-top-small {
    padding-top: 20px;
  }

  .padding-bottom-large {
    padding-bottom: 150px;
  }

  .padding-bottom-medium {
    padding-bottom: 100px;
  }

  .padding-bottom-small {
    padding-bottom: 20px;
  }
}
