.tabs-container {
  .content {
    display: none;
    flex-direction: column;
    gap: 30px;
  }

  .content.active {
    display: flex;

    h1, h2, h3 {
      font-weight: 500;
      font-family: var(--ff-secondary);
      font-size: var(--fs-heading-3);
      letter-spacing: .2em;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 769px) {
  .tabs-container .content.active {
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  .tabs-container {
    .content.active {
      display: grid;
    }
  }
}