.technology-section {
  text-align: center;

  h1 {
    font-size: var(--fs-heading-4);
    font-family: var(--ff-secondary);
    letter-spacing: .2em;
    //margin-top: 20px;
    margin-bottom: 50px;
  }

  .tabs-container .content {
    img {
      order: 1;
      display: flex;
      justify-content: center;
      height: auto;
      object-fit: contain;
      //margin-left: -20px;
      //margin-right: -20px;
      //width: calc(100% + 40px);

      width: 100vw;
      margin-left: calc(-50vw + ((100% + 20px) / 2));
      margin-right: calc(-50vw + ((100% + 20px) / 2));
      max-width: unset;
    }

    .steps {
      display: flex;
      justify-content: center;
      gap: 20px;
      order: 2;

      .step {
        color: var(--clr-white);
        border: 1px solid var(--clr-very-transparent-white);
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        min-width: 50px;
        align-items: center;
        transition: var(--tr-primary);
        padding: 10px;

        &.active, &:hover {
          color: var(--clr-very-dark-blue);
          background-color: var(--clr-white);
        }
      }
    }

    .terminology {
      order: 3;
      color: var(--clr-transparent-white);
      font-family: var(--ff-secondary);
      font-size: var(--fs-heading-4);
      letter-spacing: .2em;
      text-transform: uppercase;
    }

    .name {
      order: 4;
    }

    .description {
      order: 5;
      color: var(--clr-light-blue);
    }
  }
}

@media (min-width: 769px) {
  .technology-section {
    .tabs-container .content {
      gap: 30px;

      img {
        //width: 100vw;
        //margin-left: calc(-50vw + (600px / 2) - 20px);
        //margin-right: calc(-50vw + (600px / 2) - 20px);
      }
    }
  }
}

@media (min-width: 1025px) {
  .technology-section {
    text-align: left;

    .tabs-container .content.active {
      display: grid;
    }

    .tabs-container .content {
      grid-template-areas:
        "a b e"
        "a c e"
        "a d e";
      gap: 20px 100px;
      grid-template-rows: 2fr 1fr 3fr;
      grid-template-columns: 50px 1fr 1fr;


      img {
        //order: 1;
        align-self: center;
        grid-area: e;
        //width: unset;
        height: 500px;
        width: 100%;
        margin-left: unset;
        margin-right: unset;
      }
      //.image-container {
      //  grid-area: a;
      //  align-self: center;
      //
      //  img {
      //    //height: 500px;
      //    //object-position: bottom;
      //  }
      }

      .steps {
        grid-area: a;
        align-self: center;
        flex-direction: column;
      }

      .terminology {
        grid-area: b;
        align-self: flex-end;
      }

      .name {
        grid-area: c;
        align-self: center;
      }

      .description {
        grid-area: d;
        align-self: flex-start;
      }
    }
  }
