.technology-section {
  text-align: center;

  h1 {
    font-size: var(--fs-heading-4);
    font-family: var(--ff-secondary);
    letter-spacing: .2em;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .tabs-container .content {
    img {
      order: 1;
      display: flex;
      justify-content: center;
      height: auto;
      width: 100%;
      object-fit: contain;
    }

    .steps {
      display: flex;
      justify-content: center;
      gap: 20px;
      order: 2;

      .step {
        color: var(--clr-white);
        border: 1px solid var(--clr-very-transparent-white);
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        min-width: 50px;
        align-items: center;
        transition: var(--tr-primary);
        padding: 10px;

        &.active, &:hover {
          color: var(--clr-very-dark-blue);
          background-color: var(--clr-white);
        }
      }
    }

    .terminology {
      order: 3;
      color: var(--clr-transparent-white);
      font-family: var(--ff-secondary);
      font-size: var(--fs-heading-4);
      letter-spacing: .2em;
      text-transform: uppercase;
    }

    .name {
      order: 4;
    }

    .description {
      order: 5;
      color: var(--clr-light-blue);
    }
  }
}