.technology-section {
  text-align: center;

  h1 {
    font-size: var(--fs-heading-4);
    font-family: var(--ff-secondary);
    letter-spacing: .2em;
    margin-bottom: 50px;
  }

  .tabs-container .content {
    img {
      order: 1;
      display: flex;
      justify-content: center;
      height: auto;
      object-fit: contain;
      width: 100vw;
      margin-left: calc(-50vw + (100% / 2));
      margin-right: calc(-50vw + (100% / 2));
      max-width: unset;
    }

    .steps {
      display: flex;
      justify-content: center;
      gap: 20px;
      order: 2;

      .step {
        color: var(--clr-white);
        border: 1px solid var(--clr-very-transparent-white);
        background-color: var(--clr-very-transparent-white);
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        min-width: 50px;
        align-items: center;
        transition: var(--tr-primary);
        padding: 10px;

        &.active, &:hover {
          color: var(--clr-very-dark-blue);
          background-color: var(--clr-white);
        }
      }
    }

    .terminology {
      order: 3;
      color: var(--clr-transparent-white);
      font-family: var(--ff-secondary);
      font-size: var(--fs-heading-4);
      letter-spacing: .2em;
      text-transform: uppercase;
    }

    .name {
      order: 4;
    }

    .description {
      order: 5;
      color: var(--clr-light-blue);
    }
  }
}

@media (min-width: 769px) {
  .technology-section {
    .tabs-container .content {
      gap: 30px;
    }
  }
}

@media (min-width: 1025px) {
  .technology-section {
    text-align: left;

    .tabs-container .content.active {
      display: grid;
    }

    .tabs-container .content {
      grid-template-areas:
        "a b e"
        "a c e"
        "a d e";
      gap: 20px 100px;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: auto 8fr 300px;

      img {
        align-self: center;
        grid-area: e;
        top: 0;
        bottom: auto;
        position: absolute;
        min-height: 100%;
        right: 0;
        width: calc(50vw + -250px);
        object-position: right;
      }

      .steps {
        grid-area: a;
        align-self: flex-start;
        flex-direction: column;
      }

      .terminology {
        grid-area: b;
        align-self: flex-end;
      }

      .name {
        grid-area: c;
        align-self: center;
      }

      .description {
        grid-area: d;
        align-self: flex-start;
      }
    }
  }
}
